<!DOCTYPE HTML>
<html>
	<head>
		<meta charset='utf-8'/>
		<title>北市趴趴走</title>
		
		<!--引入JQ BS 類別庫-->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.2/jquery.min.js'></script>   <!-- JQ/JS-->
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'></script> <!-- BS/css -->
	</head>
	<body>
		<%include ./partials/navbar%>
		
		<%- body -%>
		
		<%include ./partials/footer%>
	</body>
	<script type='text/javascript'>
		
	</script>
</html>