<html><head>
    <meta charset="utf-8">


    <title>PaPaGo北市趴趴走</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
		<link rel='stylesheet' href="/css/custom.css" />
</head>
  <body>

      <%- body -%>

  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js'></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js'></script>
</body></html>
