<% layout('layout')  -%>

<div class = 'row'>

	<div class = 'col-lg-6 col-md-offset-3'>
		<h1>登錄</h1>
		<% if(message.length > 0){ %>
			<div class="alert alert-danger alert-dismissible">
				<button type ='button' class="close" arial-label='close'>
				<span arial=hidden='true'>&times;</span>
				</button>
				<%= message %>
			</div>
		<% } %>

		<form method = 'post'>
			<div class="form-group">
			</div>
			<div class="form-group">
				<label>電子郵件:</label>
				<input type="email" class="form-control" name='email'/>
			</div>
			<div class="form-group">
				<label>密碼：</label>
				<input type="password" class="form-contrl" name='password'/>
			</div>
			<button type='success' class="btn btn-success">送出</button>
		</form>

	</div>
</div>
