<%- layout('layout') -%>
      <!-- start auth-form -->
      <div class="auth-form">
        <form method="post">
          <h1 id="title">歡迎你回來</h1>
          <div class="auth-form-group">
            <label>電子信箱</label><br>
            <input class="input" id="register-email" autocomplete="off" spellcheck="false"><br>
            <label>密碼</label><br>
            <input class="input" id="register-password" type="password" autocomplete="off" spellcheck="false"><br>
            <label><a id="forgot-password" href="#">忘記密碼？</a></label>
            <input id="submit" type="submit" value="登入"><br>
            <label id="signup">還沒成為會員嗎？<a href="/signup">註冊</a></label>
          </div>
        </form><!-- form end-->
      </div><!--div form end-->